.boxes{
            background-color: rgb(169, 9, 9);
            margin: 10px;
            width: 200px;
            height: 150px;
            color: white;
            text-align: center;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

        }
.bigbox{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    background-color: tomato;
    margin: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
 .box-items{
    width: 20px;
    height: 20px;
    background-color: blue;
    text-align: center;
    
}